.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #5f2c82, #8e2de2);
  color: white;
  padding: 30px 60px;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-nav nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.btn {
  background: #ff7eb3;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.hero-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 60px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text span {
  color: #ffb3d9;
}

.hero-text p {
  font-size: 20px;
  margin-top: 10px;
}

/* Emoji socials */
.socials {
  margin-top: 20px;
}

.socials span {
  font-size: 26px;
  margin-right: 15px;
}
/* Italic text only for Home page */
.hero-text h1,
.hero-text p {
  font-style: italic;
}
